---
# Template for html of portfolio homepage
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-6">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">

    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Fira+Mono:500" rel="stylesheet">
    <link href="{{ '/assets/css/main.css' | relative_url }}" rel="stylesheet">
  </head>
  <body>
    <div class="sidebar">
      <div class="branding-col-1">
        <img class="logo" src="{{ '/assets/images/logo.png' | relative_url }}"</img>
        <h1 class="name">Projects<br/><small>by Alexander Zhang</small></h1>
      </div>
      <div class="branding-col-2">
        <p class="bio">{{ site.bio }}</p>
        {% for link in site.links %}
        <a class="button {{ link.class }}" href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="project-pane">
      {% for post in site.posts %}
      <div class="project">
        <div class="project-img-col">
          <img class="project-img" src="{{ site.baseurl }}/assets/images/{{ post.image }}">
        </div>
        <div class="project-disc">
          <h1>{{ post.title }}</h1>
          {{ post.excerpt }}
          {% for link in post.links %}
          <a class="button {{ link.class }}" href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
    <p class="footer">Website by CQCumbers. Source on <a href="https://github.com/CQCumbers/CQCumbers.github.io">github</a></p>
  </body>
</html>
