---
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-6">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:400,800">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>
  <body>
    <div class="sidebar">
      <div class="branding-col-1">
        <img class="logo" src="{{ '/assets/images/logo.png' | relative_url }}"</img>
        <h1 class="name">Projects<br/><small>by Alexander Zhang</small></h1>
      </div>
      <div class="branding-col-2">
        <p class="bio">Alexander Zhang (a.k.a. Tyrese a.k.a. CQCumbers) is a student with an interest in computer science and a penchant for independent projects. He seems to enjoy making lots of small software projects for fun, or for learning new technologies like deep learning and augmented reality. Currently, his greatest expertise is probably in data analysis, full-stack web development, and cloud computing, though he's dabbled in desktop and mobile apps as well. This site appears to be his obligatory online catalog of (mostly) finished projects.</p>
        <a class="button project-link" href="https://github.com/CQCumbers">Github Profile</a>
      </div>
    </div>
    <div class="project-pane">
      {% for post in site.posts %}
      <div class="project">
        <div class="project-img-col">
          <img class="project-img" src="{{ site.baseurl }}/assets/images/{{ post.image }}">
        </div>
        <div class="project-disc">
          <h1>{{ post.title }}</h1>
          {{ post.excerpt }}
          {% for link in post.links %}
          <a class="button project-link" href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
    <p class="footer">Website by CQCumbers. Source on <a href="https://github.com/CQCumbers/CQCumbers.github.io">github</a></p>
  </body>
</html>
