html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
}

body {
    color: red;
    background-color: #f8fbf8;
    display: grid;
    grid-template-columns: 20% auto;
    font-family: Avenir;
}

h1 {
    line-height: 80%;
}

small {
    font-size: 50%;
}

.sidebar {
    border-right-style: solid;
    border-right-color: red;
    padding-right: 2em;
    text-align: right;
    word-wrap: break-word;
    grid-column: 1 / 2;
    align-items: right;
    position: sticky;
    top: 0;
    height: 100vh;
}

.branding-col-1 {
    margin-top: 40%;
}

.logo {
    width: 45%;
}

.bio {
    margin-left: 1.5em;
}

.button {
    border-color: red;
    border-style: solid;
    padding: 0.2em 1em;
    text-decoration: none;
    color: red;
}

.button:hover {
    background-color: red;
    color: white;
}


.project-pane {
    grid-column: 2 / 3;
}

.project {
    display: grid;
    margin: 2em 2em 5em 3em;
    border-style: solid;
    border-color: red;
    align-items: center;
    grid-template-columns: 35% 65%;
}

.project-img-col {
    border-right-style: solid;
    border-color: red;
    height: 100%;
    overflow: hidden;
}

.project-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project-disc {
    padding: 2em;
}

@media (max-width: 992px) {
    body {
        display: block;
    } 

    .sidebar {
        position: static;
        display: grid;
        grid-template-columns: 40% auto;
        height: auto;
        border-style: none none solid none;
    }
    
    .branding-col-1 {
        margin-top: 0em;
        padding-right: 2em;
        border-right-style: solid;
        border-right-color: red;
    }

    .logo {
        margin-top: 12%;
        width: 30%;
    }

    .branding-col-2 {
        margin-top: 5%;
        padding-left: 2em;
        text-align: left;
    }

    .bio {
        margin-left: 0em;
    }

    .project {
        margin: 4em 2em 5em 2em;
    }
}
