---
# Uses SCSS so fonts and colors can be easily changed
---

$red: red;
$black: #363d3d;
$white: white;
$beige: #f6f6f3;

$body-font: 'Work Sans', sans-serif;
$heading-font: 'Eczar', serif;

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: $black;
    background-color: $beige;
    font-family: $body-font;
    font-size: 16px;
    line-height: 1.65;
}

h1 {
    font-size: 2.5em;
    font-family: $heading-font;
    line-height: 1;
    margin: 0.3em 0px -0.1em;
    color: $red;
}

a {
    text-decoration: none;
}

small {
    font-size: 0.5em;
    line-height: 0.5em;
}

p {
    margin-bottom: 0.7em;
}

.sidebar {
    display: grid;
    grid-template-columns: 22% auto;
    max-width: 72em;
    width: calc(100% - 16em);
    margin: auto;
    height: auto;
    word-wrap: break-word;
    top: 0;
}

.branding-col-1 {
    height: 100%;
    text-align: right;
    align-items: end;
    padding-bottom: 1em;
}

.branding-col-2 {
    padding: 1em 2em 2em 3em;
    text-align: left;
}

.name {
    margin-top: 0px;
    font-size: 3.2em;
    white-space: nowrap;
}

.logo {
    width: 100%;
    max-width: 12em;
    margin: auto;
}

.button {
    margin: 0.2em 4.5em 0.2em 0em;
    display: inline-block;
    text-decoration: none;
    font-family: $body-font;
    font-size: 1.1em;
    font-weight: bold;
    color: $red;
}

.button::after {
    content: '»';
    display: inline-block;
    margin-left: 0.3rem;
}

.button:hover {
    filter: brightness(80%);
}

.project {
    display: grid;
    margin: 3.5em auto;
    max-width: 75em;
    width: calc(100% - 12em);
    background-color: $white;
    align-items: center;
    grid-template-columns: 40% 60%;
}

.project-img-col {
    height: 100%;
    overflow: hidden;
}

.project-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project-disc {
    padding: 3em 2em 3em 3em;
}

.project-disc > p {
    margin-right: 2em;
}

.footer {
    text-align: center;
    padding: 1em;
    font-size: 0.75em;
}

.resume {
    margin: 3.5em auto;
    padding: 3em;
    max-width: 45em;
    width: calc(100% - 16em);
    background-color: $white;
}

.category {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9em;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

.item-name {
    font-family: $heading-font;
    font-size: 1.25em;
    margin: 0;
    float: left;
}

.date {
    font-family: $heading-font;
    font-size: 1.25em;
    margin: 0;
    float: right;
}

.description {
    margin: 0em 0em 1em 0em;
}

.item {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
    margin: 0;
}

@media (max-width: 768px) {
    .sidebar {
        display: block;
        width: auto;
        margin: 0em 1em 1em 1em;
    }

    .logo {
        max-width: 6em;
        float: right;
        margin-right: 1em;
    } 

    .name {
        text-align: left;
        font-size: 3.5em;
        padding-top: 0.5em;
        margin-left: 0.2em;
    }

    .branding-col-2 {
        padding: 1em;
    }

    .project {
        display: block;
        width: auto;
        margin: 2em 1em;
    }
    
    .project-img-col {
        height: 16em;
    }

    .project-disc {
        padding: 2em 0.5em 2em 2em;
    }

    .button {
        white-space: nowrap;
        line-height: 2em;
    }

    .resume {
        display: block;
        width: auto;
        margin: 2em 1em;
        padding: 2em;
    }
}

@media print {
    .resume {
        font-size: 13px;
        margin: auto;
        padding-top: 5em;
    }
}
