<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ config.title }} | Resume</title>
    <meta name="description" content="Alexander Zhang's Resume">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500|Eczar:700" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="resume">
      <h1>{{ page.extra.name }}</h1>
      {% for method in page.extra.contact %}
      {% if method.public or config.mode  == "serve" %}
      <a class="button contact" href="{{ method.link | safe }}">{{ method.name }}</a>
      <span class="print contact">{{ method.print }}</span>
      {% endif %}
      {% endfor %}
      {{ page.content | safe }}
    </div>
  </body>
</html>
